@model double
@using ConsoleAppProject.App02
@{
    ViewData["Title"] = "AM Health Message";
}
@{
    BMI bmi = new BMI();
 //   bmi. = Model;
}

<header class="text-center jumbotron">
    <h2 class="display-4">Health Message </h2>
    <h3> by Amir Mohamed</h3>
</header>
<section>
    <h3>Your BMI Index</h3>
    <p class="tex-lead">

    </p>
    <h3>BAME Message</h3>
    <p>

    </p>
    
</section>